body{
    margin: 0;
    padding: 0;
}


header{
    height: 40px;
    /* border: 1px solid blue; */
   
    /* display: flex; */
}

nav {
    height: auto;
    /* border: 1px solid red; */
    text-align: center;

}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
    
}

nav ul li{
    
    padding-right: 20px;
    list-style: none;
    
    
}

nav ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    
}

/* nav .boton{
    text-decoration: none;
    color: grey;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
} */

.mensaje{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.mensaje a{
   text-decoration: none;
}


section{
    height: 490px;
    width: 100%;
    /* background: hotpink;   */
    padding: auto 0;
}

article{
   /* background-color: blue; */
   height: 233px;
   margin: 0;
   padding: 0;
   text-align: center;
}



article img{
    background: rgb(24, 219, 67);
    height: 233px;
    text-align: center;
    
    
}

.formulario{
    /* background: rgb(105, 98, 28); */
    text-align: center;
}

.formulario input{
margin: 20px;
height: 10px;
width: 600px;
padding: 20px;
text-align: center;
border-radius: 30px;
border: 1 solid grey;


}

.botones{
 /* background: bisque; */
 height: 50px;
 text-align: center;
}

.botones a{
    margin: 1px 5px;
    text-decoration: none;
    color: rgb(90, 90, 90);
    background: rgb(240, 237, 237);
    padding: 10px 20px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}





footer{
    height: auto;
    background: rgb(240, 237, 237);
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}


.pais{
    padding: 10px 40px;
    color: rgb(168, 168, 168);
    border: 1px solid;
}

.footer-enlaces{
    padding: 10px 40px;
    color: rgb(168, 168, 168);
    border: 1px solid;
}

.lista{
    display: flex;
    list-style: none;
}

.lista li{
    padding-right: 10px;
    color: grey;
    text-align: center;
} 
